.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blueText {
  color: #0070f3;
  text-decoration: none;
}

.paymentMethods {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  > div {
    flex: 1 0 40%;
    flex-wrap: wrap;
    margin: 0 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #cfcfcf;
}

.footerLink {
  color: #b7b7b7;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 799px) {
  .paymentMethods {
    flex-direction: column;
    > div {
      // flex: 1 0 30%;
      flex-wrap: nowrap
    }
  }
  .footer {
    position: unset;
    margin-left: -30px;
    width: calc(100% + 60px);
  }
}

.bankOfAmericaLogo {
  margin: 3% auto 11%;
  width: 70% !important;
}
.venmoLogo {
  margin: -12% auto -6%; // use if re-adding capital one and cashapp sections
  margin: 8% auto -6%;
  width: 80%;
}
@media (max-width: 599px) {
  .venmo {
    flex-wrap: nowrap !important;
  }
}
.venmoQR {
}
.cashApp {
  margin-top: 7% !important;
}
.capitalOneLogo {
  margin: 0 auto;
  width: 71% !important;
  margin-bottom: 20px;
}
.cashAppLogo {
  margin: -14% auto -4%;
  max-width: 290px;
}
.cashAppQR {
  img {
    width: 165px;
    margin-top: -9px;
  }
}
.spacer {
  display: inline-flex;
  width: 15px;
}
