// main content
.main {
  min-height: 100vh;
  padding: 80px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 80px;
  }
}
.blueText {
  color: #0070f3;
  text-decoration: none;
}

// payment methods
.paymentMethods {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 35%;
    flex-wrap: wrap;
    margin: 0 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 799px) {
  .paymentMethods {
    flex-direction: column;
    > div {
      flex-wrap: nowrap
    }
  }
}

// banks and "banks"
.bankLogo {
  height: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.bylineBank {
}
.bylineBankLogo {
}
.chime {
}
.chimeLogo {
}
.cashApp {
}
.cashAppLogo {
  min-width: unset !important;
  width: 240px !important;
}
.cashAppQR {
  img {
    width: 170px !important;
  }
}
.bankOfAmerica {
}
.bankOfAmericaLogo {
  width: 380px !important;
  height: unset !important;
  min-width: unset !important;
  min-height: unset !important;
}
.venmo {
}
.venmoLogo {
  min-width: unset !important;
  width: 170px !important;
}
.venmoQR {
}
.capitalOne {
}
.capitalOneLogo {
}
.spacer {
  display: inline-flex;
  width: 15px;
}
